@model Test.Models.Profile
@using Test.Models

@{
    ViewBag.Title = "DetailsProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Профиль</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dd>
            <div class="display-label"><b>Роли</b></div>
            <ul>
                @foreach (Role c in Model.Roles)
                {
                    <li>@c.Name</li>
                }
            </ul>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditProfile", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "onProfile")
</p>