@model Test.Models.User
@using Test.Models
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Edit</h2>


@using (Html.BeginForm())
{
    <fieldset>
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Пользователь</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <!--Выбор профилей для пользователя-->
            <div class="col-md-4 col-md-offset-2">
                <div class="editor-label"><b>Профили</b></div>

                @foreach (Profile c in ViewBag.Profiles)
                {
                    <input type="checkbox" name="selectedProfiles" value="@c.Id"
                           @(Model.Profiles.Contains(c) ? "checked=\"checked\"" : "") />@c.Name <br />
                }
                <br />
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {

    @Scripts.Render("~/Scripts/jquery.validate.js")
}


